<div class="course-card beginner">
  <div class="course-title">
    {{ index }}
    {{ course.description }}
  </div>

  @if(course.id == 100) {
  <h1>This is Id 1</h1>
  } @else if(course.iconUrl){
  <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
  } @else {
  <h1>There is no image !</h1>
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div class="course-category">

    @switch (course.category) {
      @case ("BEGINNER") {
        <div class="category">{{course.category}}</div>
      }
      @case ("INTERMIDIATE") {
        <div class="category">{{course.category}}</div>
      }
      @case ("ADVANCED") {
        <div class="category">{{course.category}}</div>
      }
      @default {
        <div class="category">{{course.category}}</div>
      }
    }
    
  </div>

  <button (click)="onCourseViewed()">View Courses</button>
</div>
