<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses">
  <!-- <new-syntax/> -->
  
  <div class="oldSyntax">
    <div>
      <course-card-old
      *ngFor="
        let course of courses;
        index as i;
        first as first;
        last as last;
        even as even;
        odd as odd
        "
      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
      [course]="course"
      [index]="i + 1"
      (courseSelected)="onCourseSelected($event)"
      />
    </div>
  </div>
    
</div>
