
.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 100%;
    margin-top: 3%;
    /* margin: 50px auto; */
    display: flex;
    justify-content: center;
    align-items: start;
}
.oldSyntax{
  /* display: none; */
}




